<!-- Footer for easier initialize on site pages -->

<!-- #region PreFooter  -->
<section class="info prefooter">
  <div class="actions-row actions-row-wraped">
    <p class="desktop">Our social media</p>
    <button class="btn btn-clear"><img src="images/LogoTiktokSmall.png" alt=""></button>
    <button class="btn btn-clear"><img src="images/LogoYoutubeSmall.png" alt=""></button>
    <button class="btn btn-clear"><img src="images/LogoFacebookSmall.png" alt=""></button>
    <button class="btn btn-clear"><img src="images/LogoTwitterSmall.png" alt=""></button>
    <button class="btn btn-clear"><img src="images/LogoDiscordSmall.png" alt=""></button>
    <button class="btn btn-clear"><img src="images/LogoLinkedinSmall.png" alt=""></button>
    <p class="desktop">Enlist</p>
    <button class="btn btn-clear desktop"><img src="images/LogoSteam.png" alt=""></button>
    <button class="btn btn-clear desktop"><img src="images/LogoPlaystation.png" alt=""></button>
    <button class="btn btn-clear desktop"><img src="images/LogoXbox.png" alt=""></button>
  </div>
</section>
<!-- #endregion -->

<!-- #region Footer -->
<footer class="footer">
  <div class="info-card info-row">
    <div class="info-cards lefted">
      <div class="info-row">
        <img src="images/Helldivers-2-Logo-PNG 1.png" alt="" class="smaller60">
        <p>This is a fan-made project inspired by Helldivers 2 and its incredible community.
          It is created with love, respect, and unwavering loyalty to Super Earth. </p>
      </div>
      <p>
        Citizens who attempted to spread doubt, criticism, or disloyal opinions have been reported to the nearest
        Democracy Officer.
      </p>

      <p>Remember:</p>
      <ul>
        <li>Dissent is dangerous.</li>
        <li>Silence is patriotic.</li>
        <li>Obedience is freedom.</li>
      </ul>
      </p>
    </div>
    <div class="info-cards lefted">
      <img src="images/LogoMOT.png" alt="" class="smaller40">
      <p>
        All materials on this page have been carefully reviewed and approved by the Ministry of Truth.
      </p>
      <ul>
        <li>Any inaccuracies have been corrected.</li>
        <li>Any misinformation has been eliminated.</li>
        <li>Any negative feedback has been classified as treason.</li>
      </ul>
    </div>
  </div>
</footer>
<!-- #endregion -->