<!-- Header and burger for easier initialize on site pages  -->

<!-- css which used on a whole site -->


<header class="header">
    <a href="index.html"><img src="images/Helldivers-2-Logo-PNG 1.png" alt="Logo" class="logo desktop"></a>
    <button class="burger" aria-label="Menu" id="burger-btn">☰</button>

    <nav class="nav desktop">
        <a href="pages/communityPage.html">Community</a>
        <a href="weaponary.html">Weaponary</a>
        <a href="index.html">Home</a>
        <a href="about.html">About us</a>
    </nav>

    <a href="enlist.html" class="btn btn-enlist header-action desktop">Enlist now</a>
</header>

<nav class="burger-menu" id="burger-menu">
    <a href="index.html"><img src="images/Helldivers-2-Logo-PNG 1.png" alt="Logo" class="logo"></a>
    <a href="pages/communityPage.html">Community</a>
    <a href="weaponary.html">Weaponary</a>
    <a href="index.html">Home</a>
    <a href="about.html">About us</a>
    <a href="enlist.html" class="btn btn-enlist">Enlist now</a>
</nav>